.radio {
    display: inline-block;
    margin-right: 10px;
}

.radio input {
    display: none;
}

.radio label {
    user-select: none;
    cursor: pointer;
}

.radio input + label:before {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 14px;
    display: inline-block;
    border: 2px solid #fff;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 4px;
    transition: 0.1s;
}

.radio input:checked + label:before {
    background: gray;
}