form#create-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 450px;
    margin: 0 auto;

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 35px;
        width: 100%;

        & input:first-child {
            margin-right: 5px;
        }
        & input:last-child {
            margin-left: 5px;
        }
    }

    > div:last-child {
        justify-content: space-between;
    }
}