section#products {
    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0 0;

    }
    ul {
        list-style: none;
        li {
            display: grid;


            @media only screen and (min-width: 900px) {
                grid-template-columns: minmax(115px, 795px) minmax(115px, 795px) minmax(115px, 795px) 150px;
                .columns {
                    display: unset;
                    text-align: center;
                }
            }

            @media only screen and (max-width: 900px) {
                grid-template-columns: auto 130px;
                .columns {
                    display: none;
                }
            }

            // grid-template-columns: auto 130px;


            align-items: center;
            padding: 5px 0;
            border-bottom: 1px solid #424242;
            > span {
                font-size: 1em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            > div {
                text-align: right;
                font-size: .95em;
                font-weight: bold;
                i {padding-left: 5px;}
                a {margin-right: 10px;}
            }
        }
    }
}