div.viewer {
    display: grid;
    grid-template-columns: 280px 1fr;
}

div.options {
    display: flex;
    flex-direction: column;
    // max-width: 220px;
    width: 280px;
    a {
        margin: 5px 0;
    }
}