.select {
    background: #292929;
    width: 300px;
    margin: 5px 0;
    user-select: none;

    position: relative;

    i {
        position: absolute;
        right: 25px;
        top: 13px;
        transform: rotate(90deg);
        transition: 0.1s;
    }

    &.active i {
        transform: rotate(0);
    }

    label {
        display: block;
        padding: 5px 25px;
        &:hover {
            background: rgba(255, 255, 255, 0.05);
        }
    }

    ul {
        background: inherit;
        width: inherit;
        position: absolute;
        list-style: none;
        z-index: 1000;


        max-height: 420px;
        overflow-y: auto;


        li {
            padding: 5px 25px;
            &:hover {
                background: rgba(255, 255, 255, 0.05) !important;
            }
        }
        li.selected {
            background: rgba(255, 255, 255, 0.09);
        }
        li.disabled {
            color: gray;
        }
    }
    &:not(.active) ul {
        display: none;
    }
}