.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6674;
    overflow: hidden;
    border-radius: .25em;

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: none;
        box-shadow: none;
        border: none !important;
        background: #5c6674;
        background-image: none;
    
        flex: 1;
        padding: 0 .5em;
        color: #fff;
        cursor: pointer;
        font-size: 1em;
    }
    
    select::-ms-expand {
        display: none;
    } 
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #000;
    pointer-events: none;
    transition: .25s all ease ;
}

.select:hover::after {
    color: #23b499;
}