.select-checkbox {
    background: #292929;
    width: 100%;
    margin: 10px 0;
    user-select: none;
    line-height: 32px;
    position: relative;

    i {
        position: absolute;
        right: 25px;
        top: 13px;
        transform: rotate(90deg);
        transition: 0.1s;
    }

    &.active i {
        transform: rotate(0);
    }

    & > label {
        display: block;
        &:hover {
            background: rgba(255, 255, 255, 0.05);
        }
    }

    label {
        display: inline-block;
        padding: 5px 0 5px 25px;
        width: 100%;    
    }

    ul {
        background: inherit;
        width: inherit;
        position: absolute;
        list-style: none;
        z-index: 1000;

        max-height: 420px;
        overflow-y: auto;

        li {

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &:hover {
                background: rgba(255, 255, 255, 0.05) !important;
            }

            input[type=checkbox] {
                display: none;

                & + label::after {
                    position: absolute;
                    content: '';
                    width: 16px;
                    height: 16px;
                    margin-top: 5px;
                    right: 20px;
                    border-radius: 14px;
                    background: transparent;
                    border: 2px solid #fff;
                }

                &:checked + label::after {
                    background: gray;
                }

            }
        }
    }
    &:not(.active) ul {
        display: none;
    }
}