section.checkout-completed {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    text-align: center;

    > i {
        font-size: 7em;
        color: #9cbb6d;
        margin: 20px;
    }

    button {
        margin: 10px 0;
        width: 320px;
    }
}