section.favorites {
    ul {
        list-style: none;
        align-items: center;
        margin: 10px 0;

        li {
            display: grid;            
            column-gap: 8px;     
            grid-template-columns: 100px 170px;       
            grid-template-areas: 
                "image name    name"
                "image reviews price"
                "image store   remove";
            
            border-bottom: 1px solid #424242;
            padding: 5px 0;

            .image {
                grid-area: image;
                justify-self: left;

                object-fit: cover;
                width: 100px;
                height: 75px;
            }

            .name {
                grid-area: name;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .reviews {
                grid-area: reviews;
                font-size: .95em;
                align-self: center;
                a {
                    margin-right: 5px;
                }
            }

            .price {
                grid-area: price;
                align-self: center;
                text-align: right;
                font-weight: bold;
            }

            .store {
                font-size: .85em;
                font-weight: bold;
                align-self: center;
            }

            .remove {
                grid-area: remove;
                justify-self: right;
                align-self: center;
                span {
                    font-size: .9em;
                    font-weight: bold;
                    margin-right:  5px;
                }
            }
        }
    }
}