div.view-product {
    display: flex;

    @media only screen and (max-width: 880px) {
        flex-direction: column;
        div:last-child {
            margin: 10px 0 0;
            max-width: unset !important;
            button {
                max-width: 415px;
            }
        }
    }

    margin: 0 auto;
    max-width: 880px;
    justify-content: space-between;
    gap: 0 10px;
    padding: 10px 0;

    div:first-child {
        display: flex;
        flex-direction: column;
        gap: 8px 0;
        width: 100%;
        white-space: pre-wrap;
        > img {
            object-fit: cover;
            max-width: 625px;
            max-height: 400px;
            height: 400px;
            width: 625px;
        }

        div {
            img {
                object-fit: cover;
                width: 48px;
                height: 48px;
                margin-right: 10px;
                cursor: pointer;
            }    
        }
    }

    div:last-child {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px 0;
        text-align: right;
        min-width: 250px;
        max-width: 250px;
        a,
        button {
            width: 100%;
        }
    }
}