div.store-info {
    display: flex;
    align-items: center;
    div {
        display: inline-block;
        min-width: 200px;
        vertical-align: middle;
    }
    .logo {
        vertical-align: middle;
        margin: 0 10px 0 0;
    }

    @media only screen and (max-width: 942px)
    {
        .banner {
            display: none;
        }
    }
}