div.view-product {
    width: 80%;
    display: grid;
    justify-self: center;
    align-self: center;
    margin: 0 auto;
    grid-template-columns: 80% 20%;
    white-space: pre-wrap;

    img {
        object-fit: cover;
        width: 800px;
        height: 500px;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 15px;
        &:last-child {
            text-align: center;
        }
    }
}

