span.image-browser {
    display: flex;
    align-items: center;
    width: 100%;
    i[class^="fa-"] {
        width: 40px;
        height: 40px;
        // line-height: 38px;
        text-align: center;
        padding: 10px 0;
        font-size: 1.1em;
        // color: #424242;
        color: #688189;
        border: 1px solid #424242;
        margin-right: 5px;
        cursor: pointer;
    }
    input[type=file] {
        display: none;
    }
    img {
        object-fit: cover;
        width: 40px;
        height: 40px;
        margin: 0 5px;
        cursor: pointer;
    }
    > span {
        font-size: .9em;
        font-style: italic;
        margin-left: 2px;
        color: #688189;
    }
}