nav#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    border-bottom: 1px solid #424242;
    background: #181a1b;

    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;

    @media only screen and (max-width: 705px) {
        & > div:nth-child(1) {
            width: 40%;
        }
        & > div:nth-child(2) {
            width: 0;

            #searchbar {
                display: none;
            }

            #searchbar.active {
                display: flex !important;
                position: absolute;
                top: 10px;
                left: 50px;
                right: 50px;
                padding: 0 15px;
                background: #181a1b;
                z-index: 1;
                justify-content: center;
                background: #181a1b;
            }
        }
        & > div:nth-child(3) {
            width: 60%;
        }
    }

    @media only screen and (min-width: 705px) {
        & > div:nth-child(1) {
            width: 25%;
        }
        & > div:nth-child(2) {
            width: 50%;
        }
        & > div:nth-child(3) {
            width: 25%;
        }
        a#searchButton {
            display: none;
        }
    }
    
    div:nth-child(3) {
        text-align: right;
    }  

    a {
        color: #737373;
        display: inline-block;
        font-size: 1.25em;
        margin: 0 20px;
    }
}

body {
    margin-top: 56px;
}