section.pagination {
    display: flex;
    justify-content: end;
    margin: 10px 0 0;

    a {
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        width: 27px;
        border-right: 1px solid #313131;
    }

    a:first-child {
        border-left: 1px solid #313131;
    }
}