form#searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;

    button {
        background: transparent;
        color: #686767;
        border: 1px solid #424242;
        border-left: 0;
        font-size: 1.1em;
        padding: 0 12px;
        cursor: pointer;
    }
}