* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Mulish, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;

  text-rendering: optimizeLegibility;

}

a:visited,
a {
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, .7);
}

a:hover {
  color: rgba(255, 255, 255, .9);
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-size: 16px;
  font-weight: 400;
  min-width: 1165px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a.button {
  display: inline-block;
  background: #292929;
  color: rgba(255, 255, 255, .7);
  border-radius: 50px;
  min-height: 42px;
  margin: 5px 0px;
  padding: 10px 25px;
  transition: 0.2s;
}

a.button:hover {
  background: rgba(255, 255, 255, 0.05);
}

/*  */

input[type=text],
input[type=email],
input[type=password] {
  background: #292929;
  border: none;
  outline: none;
  width: 100%;
  margin: 5px 0;
  padding: 10px 25px;
  font-size: 1em;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  background: rgba(255, 255, 255, 0.05);
}

/*  */

input[type=button],
input[type=submit] {
  background: #292929;
  color: rgba(255, 255, 255, .7);
  display: inline-block;
  border: none;
  outline: none;
  padding: 10px 40px;
  font-size: 1em;
  margin: 5px 0;
  border-radius: 50px;
  cursor: pointer;
}

input[type=button]:hover,
input[type=submit]:hover {
  background: rgba(255, 255, 255, 0.05);
}

/*  */

.page .title {
  font-size: 1.8em;
  margin: 10px 0;
}

.page form {
  display: flex;
  flex-direction: column;
  width: 500px;
  text-align: center;
  align-self: center;  
  margin: calc(70px) 0;
}

.page form .space-between {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.page form p {
  line-height: normal !important;
}

.page form input {
  margin: 10px 0;
}